run = "npm run dev"
modules = ["nodejs-20", "python-3.11", "postgresql-16"]
hidden = [".config", "package-lock.json"]
entrypoint = "index.html"

[nix]
channel = "stable-24_05"

[unitTest]
language = "nodejs"

[deployment]
deploymentTarget = "static"
build = ["npm", "run", "build"]
publicDir = "dist"

[[ports]]
localPort = 3000
externalPort = 4200

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 5001
externalPort = 3001

[[ports]]
localPort = 33057
externalPort = 3003

[[ports]]
localPort = 33651
externalPort = 5000

[[ports]]
localPort = 37015
externalPort = 3000

[[ports]]
localPort = 40371
externalPort = 3002

[agent]
expertMode = true

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Expo Server"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Backend Server"

[[workflows.workflow]]
name = "Expo Server"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npx expo start --clear --web --port 5000"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow]]
name = "Backend Server"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd backend && node server.js"
waitForPort = 3000

[workflows.workflow.metadata]
outputType = "console"
